<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Online Dama</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
  <h1>Hoş geldin, {{ username }}!</h1>
  <div id="messageBox" style="color: white; background: crimson; padding: 10px; border-radius: 6px; text-align: center; font-weight: bold; margin: 10px; display: none;"></div>


  <div id="playerList" style="margin: 15px; font-weight: bold; text-align: center;"></div>
  
  <!-- Renk seçimi formu -->
  <form id="colorForm">
    <p>Rengini seç:</p>
    <label><input type="radio" name="color" value="red" required> Kırmızı (Red)</label><br>
    <label><input type="radio" name="color" value="black"> Siyah (Black)</label><br>
    <button type="submit">Oyuna Başla</button>
  </form>

  


  <!-- Oyun tahtası başta gizli -->
  <div id="board" style="display:none;">
    <!-- Oyun tahtası burada oluşacak -->
  </div>

  <script>
    const username = "{{ username }}";
  </script>
  <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
